.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}

.navbar p {
    font-size: 1.8rem;
    color: orangered;
    font-weight: 800;
    font: bolder;
}
.navbar p h4{
    font-size: 0.8rem;
    color: black;
}
.navbar .profile{
    width: 40px;
}